---
# Master Playbook
# Purpose: Central entry point to run all playbooks in order:
#   1. deploy.yml - deployment tasks
#   2. populate.yml - populate tasks
#   3. vulnerable.yml - vulnerability tasks
# Loads variables from vars/ folder for all playbooks.


- import_playbook: playbooks/deploy.yml
- import_playbook: playbooks/config.yml
- import_playbook: playbooks/vulnerable.yml
