---
# Master Playbook
# Purpose: Central entry point to run all playbooks in order:
#   1. deploy.yml - deployment tasks
#   2. populate.yml - populate tasks
#   3. vulnerable.yml - vulnerability tasks
# Loads variables from vars/ folder for all playbooks.

- name: Master Playbook
  hosts: all
  become: yes
  gather_facts: yes

  vars_files:
    - vars/deploy.yml   	 # deployment variables
    - vars/populate.yml   	 # populate variables
    - vars/vulnerabilities.yml   # vulnerability variables

  tasks:
    - name: Run deployment tasks
      import_playbook: playbooks/deploy.yml

    - name: Run configuration tasks
      import_playbook: playbooks/config.yml

    - name: Run vulnerable tasks
      import_playbook: playbooks/vulnerable.yml
