# File: populate-server.yml
#
# Purpose
# Populates an existing Windows File Server share with cyberpunk-themed content.
# Depends on deploy-server.yml having already run.

- name: Populate File Server Share
  hosts: windows_fileserver
  gather_facts: no

  vars_files:
    - ../vars/deploy.yml       # provides file_share_root & file_share_name
    - ../vars/populate.yml     # provides populate content & populate_share_path
    - ../vars/inject.yml       # provides specific files for Blue Team injects

  become: yes
  become_method: runas
  become_user: Administrator

  tasks:

    # Task 1: Create cyberpunk subfolders inside the share
    - name: Create cyberpunk folders
      ansible.windows.win_file:
        path: "{{ populate_share_path }}\\{{ item.folder }}"
        state: directory
      loop: "{{ populate }}"

    # Task 2: Populate cyberpunk files
    - name: Populate cyberpunk files
      ansible.windows.win_copy:
        dest: "{{ populate_share_path }}\\{{ item.0.folder }}\\{{ item.1.name }}"
        content: "{{ item.1.content }}"
      loop: "{{ populate | subelements('files') }}"
