# File: populate-server.yml
#
# Purpose
# Populates an existing Windows File Server share with cyberpunk-themed content.
# Depends on deploy-server.yml having already run.

- name: Populate File Server Share
  hosts: windows_fileserver
  gather_facts: no

  vars_files:
    - ../vars/deploy.yml       # provides file_share_root & file_share_name
    - ../vars/populate.yml     # provides populate content & populate_share_path
    - ../vars/threatIntel.yml       # provides specific files for Blue Team injects

  become: yes
  become_method: runas
  become_user: Administrator

  tasks:

  - name: Create folders in shares
    ansible.windows.win_file:
      path: "{{ file_share_root }}\\{{ item.0.name }}\\{{ item.1.name }}"
      state: directory
    loop: "{{ shares | subelements('folders') }}"

  - name: Create files in folders
    ansible.windows.win_copy:
      dest: "{{ file_share_root }}\\{{ item.0.0.name }}\\{{ item.0.1.name }}\\{{ item.1.name }}"
      content: "{{ item.1.content }}"
    loop: "{{ shares | subelements('folders') | subelements('files') }}"

